/*
 * =====<< 卍 · Copyright · 卍 >>=====
 * 
 * File: \src\styles\layout.module.css
 * Project: demo-nextjs
 * Author: Lokavit
 * Created Date: 2023-04-09 4:16:40
 * -----
 * Last Modified: 2023-04-09 4:30:13
 * -----
 * Copyright © 1911 - 2023 Lokavit
 * 
 *     卍 · 小僧過境　衆生甦醒 · 卍
 * 
 * =====<< 卍 · Description · 卍 >>=====
 * 
 */

.container {
  max-width: 39rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back_to_home {
  margin: 3rem 0 0;
}
